<header class="site-header">

  <div class="wrapper">

    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>

    <nav class="site-nav">
      <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/cv">CV</a></li>
      </ul>
<!--       <div class="trigger">
        {% for my_page in site.pages %}
          {% if my_page.show_in_nav %}
            <a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
          {% endif %}
        {% endfor %}
      </div> -->
    </nav>

  </div>

</header>
