@import "fonts";
body {
  background-color: #fff;
  padding:50px;
  margin:60px;
  font: 14px/1.5 "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color:#727272;
  font-weight:400;
}

a {
  text-decoration:none;
  display:block;
}

.container {
  width:860px;
  margin:0 auto;
}

blockquote {
  border-left:1px solid #e5e5e5;
  margin:0;
  padding:0 0 0 20px;
  font-style:italic;
}

code, pre {
  font-family:Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal, Consolas, Liberation Mono, DejaVu Sans Mono, Courier New, monospace;
  color:#333;
}

pre {
  padding:8px 15px;
  background: #f8f8f8;
  border-radius:5px;
  border:1px solid #e5e5e5;
  overflow-x: auto;
}

th {
  color:#444;
}

img {
  max-width:100%;
}

.site-nav ul {
	list-style-type:none;
	margin:0;
	padding:0;
}

.site-nav li {
	display:inline;
	float:left;
}