---
---
// Our variables

$base-font-size:   14px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.8;

$content-width:    860px;
$spacing-unit:     30px;

$logo-color:       #F96E5E;
$logo-hover-color: #4592f8;
$text-color:       #555;
$background-color: #fafafa;
$default-color:    #727272;
$h-color:          #444;
$h2-color:         #393939;
$h3-color:         #494949;
$a-color:          #267CB9;
$a-hover-color:    #069;
$p-color:          #777;

@import "blog";